/users/.idea/
/front-end/.idea/
/cart/.idea/
/front-end/node_modules/
/users/node_modules/
/catalogue/node_modules/
/cart/node_modules/
/front-end/node_modules/
/catalogue/config/
/users service/node_modules/
/users service/.idea/
/front-end service/node_modules/
/front-end service/.idea/
