/users/.idea/
/front-end/.idea/
/cart/.idea/
/front-end/node_modules/
/users/node_modules/
/catalogue/node_modules/
/cart/node_modules/
/front-end/node_modules/
/users service/node_modules/
/users service/.idea/
/front_end_service/node_modules/
/front_end_service/.idea/
/cart service/persistence/database.sqlite
/cart service/persistence/database_test.sqlite
/front_end_react/yarn.lock
/front_end_react/package-lock.json
/front_end_react/README.md
/front_end_react/build/
/frontend/react/package-lock.json
/frontend/service/package-lock.json
/frontend/service/node_modules/
/frontend/react/node_modules/
/frontend/react/build/
