.login-msg {
  padding-top: 3rem;
  padding-left: 15%;
  padding-bottom: 1rem;
}

.login-button {
  background: darkgrey;
  border: none;
  border-bottom: .6rem solid darken(gray, 10%);
  color: white;
  font-weight: bold;
  padding-top: 2rem;
  width: 100%;
}