<addProductForm>
    <div class="container" id="addProduct">
        <br><br><br>
        <form id="addProductForm" class="needs-validation" novalidate>
            <h2>New Product Form</h2>
            <br><br><br>
            <div class="form-group">
                <label for="productNameInput">Product Name</label>
                <input type="text" name="name" class="form-control" id="productNameInput"
                       aria-describedby="productNameHelp"
                       placeholder="Enter name" required>
                <div class="valid-feedback">
                    Looks good.
                </div>
                <div class="invalid-feedback">
                    Please insert a product name.
                </div>
                <small id="productNameHelp" class="form-text text-muted">The products visible name</small>
            </div>
            <div class="form-group">
                <label for="productQuantityInput">Quantity</label>
                <input type="number" name="quantity" min=0 class="form-control" id="productQuantityInput"
                       aria-describedby="productQuantityHelp"
                       placeholder="Enter quantity" required>
                <div class="valid-feedback">
                    Looks good.
                </div>
                <div class="invalid-feedback">
                    Please insert a positive whole number.
                </div>
                <small id="productQuantityHelp" class="form-text text-muted">How many are available</small>
            </div>
            <div class="form-group">
                <label for="productPriceInput">Price</label>
                <input type="number" name="price" step=".01" min=0 class="form-control" id="productPriceInput"
                       aria-describedby="productPriceInput"
                       placeholder="Enter price" required>
                <div class="valid-feedback">
                    Looks good.
                </div>
                <div class="invalid-feedback">
                    Please insert a positive decimal number to the nearest cent.
                </div>
                <small id="productPriceHelp" class="form-text text-muted">The products normal price</small>
            </div>
            <div class="form-group">
                <label for="productImageInput">Image</label>
                <input type="file" name="image" class="form-control-file" id="productImageInput"
                       aria-describedby="productImageHelp"
                       placeholder="Add image">
                <small id="productImageHelp" class="form-text text-muted">The product's image (must be in the images
                    directory)</small>
            </div>
            <br><br><br>
            <button type="submit" class="btn btn-primary">Add Product</button>
        </form>
    </div>
    <script>

        // Submits form data to Server to save.
        const submitToServer = () => {
            // Add form data to AJAX data frame to be sent.
            let form = $("#addProductForm");
            let formData = parseFormData(form);
            if (formData.has("image") === false) {
                formData.append("image", "404.jpg")
            }

            // Convert data to JSON string.
            let jsonObject = formToJsonString(formData);

            // Send new product info to server.
            $.ajax({
                url: "http://localhost:3002/newProduct",
                type: "post",
                contentType: "application/json; charset=utf-8",
                data: jsonObject,
                success: function (res) {
                    alert('New product added');
                },
                error: function (xhr, status, error) {
                    console.log(xhr.responseText);
                }
            });
        };

    </script>
</addProductForm>