<productDisplay>
    <div class="container" id="productList">
        <h1>Products</h1>
        <table class="table-striped" id="table"
               data-toggle="table"
               data-height="800"
               data-url="http://localhost:3002/getProducts">
            <thead>
            <tr>
                <th data-field="name">Product Name</th>
                <th data-field="price">Price</th>
                <th data-field="image" data-formatter="imageFormatter">Picture</th>
                <th data-field="quantity">Quantity</th>
                <th data-formatter="buyButtonFormatter">Buy</th>
            </tr>
            </thead>
        </table>
    </div>
    <script>
        // Adds a formatted image element to the table.
        function imageFormatter(value, row) {
            return `<img src="images/${value}" style="width:150px;height:100px;">`;
        }

        // Adds a formatted button with a callback to the table.
        function buyButtonFormatter(value, row) {
            return `<button type='button' id=${row.productID} class='btn btn-primary' onClick='addToCart(${row.productID})' ">Buy </button>`;
        }

        // Callback for adding an item to the cart.
        const addToCart = (productID) => {
            console.log(`Added productID #${productID} to cart`);
        }
    </script>
</productDisplay>