<signUpForm>
    <div class="container" id="signUp">
        <br><br><br>
        <form id="signUpForm" class="needs-validation" novalidate>
            <h2>Sign Up</h2>
            <br><br><br>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">First name</span>
                    </div>
                    <input type="text" name="name" class="form-control" id="firstNameInput"
                           placeholder="Enter your first name" required>

                    <div class="input-group-prepend">
                        <span class="input-group-text">Last name</span>
                    </div>
                    <input type="text" name="lastname" class="form-control" id="lastNameInput"
                           aria-describedby="productQuantityHelp"
                           placeholder="Enter your last name" required>
                </div>
            </div>
            <br>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Username</span>
                    </div>
                    <input type="text" name="username" class="form-control" id="usernameInput"
                           placeholder="Enter your username" required>

                    <div class="input-group-prepend">
                        <span class="input-group-text">Email</span>
                    </div>
                    <input type="email" name="email" class="form-control" id="emailInput"
                           placeholder="Enter your email address" required>
                </div>
            </div>
            <br>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Password</span>
                    </div>
                    <input type="password" name="password" class="form-control" id="passwordInput"
                           placeholder="Enter your password" required>

                    <div class="input-group-prepend">
                        <span class="input-group-text">Confirm Password</span>
                    </div>
                    <input type="password" name="passwordConfirm" class="form-control" id="passwordConfirmInput"
                           placeholder="Confirm your password" required>
                </div>
            </div>
            <br>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Phone Number</span>
                </div>
                <input type="text" name="phoneNumber" class="form-control" id="phoneNumberInput"
                       placeholder="Enter your phone number" required>
            </div>
            <br>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">ZIP Code</span>
                </div>
                <input type="text" name="zipcode" class="form-control" id="zipcodeInput"
                       placeholder="Enter your zip code" required>
                <button id="getAddressBtn" class="btn btn-primary" onclick="console.log('Hello')">Fill</button>
            </div>
            <br>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Street name</span>
                    </div>
                    <input type="text" name="streetName" class="form-control" id="streetNameInput"
                           placeholder="Enter street name" required>
                </div>
                <br>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Town/City</span>
                    </div>
                    <input type="text" name="town" class="form-control" id="townInput"
                           placeholder="Enter your town" required>
                </div>
                <br>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">County</span>
                    </div>
                    <input type="text" name="county" class="form-control" id="countyInput"
                           placeholder="Enter your county" required>
                </div>
                <br>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Country</span>
                    </div>
                    <input type="text" name="country" class="form-control" id="countryInput"
                           placeholder="Enter your country" required>
                </div>
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Sign-up</button>
        </form>
    </div>

    <style>
        .input-group-text {
            padding-left: 10%;
            padding-right: 10%;
            #background-color: red;
            width: 200px;
        }
    </style>

    <script>

        // Submits form data to Server to save.
        const submitToServer = () => {
            // Add form data to AJAX data frame to be sent.
            let form = $("#addProductForm");
            let formData = parseFormData(form);
            if (formData.has("image") === false) {
                formData.append("image", "404.jpg")
            }

            // Convert data to JSON string.
            let jsonObject = formToJsonString(formData);

            // Send new product info to server.
            $.ajax({
                url: "http://localhost:3002/newProduct",
                type: "post",
                contentType: "application/json; charset=utf-8",
                data: jsonObject,
                success: function (res) {
                    alert('New product added');
                },
                error: function (xhr, status, error) {
                    console.log(xhr.responseText);
                }
            });
        };


    </script>
</signUpForm>