
.table-header {
  text-align: center;
  vertical-align: center;
}

.table-item {
  text-align: center;
  line-height: 150px;
  height: 150px;
}

.cart-button {
  width: 730px;
}

.button-text {
  padding-top: 12px;
  font-size: 30px;
  font-weight: bold;
}