
#data_wrapper.dataTables_wrapper {
  height: 300px !important;
}

#data_wrapper .fg-toolbar.ui-toolbar.ui-widget-header.ui-helper-clearfix.ui-corner-bl.ui-corner-br {
  width: 100%;
  bottom: 0;
  height: 500px !important;
}